_notes.txt
.DS_Store
/cdk-exports.json
/cdk.context.json
/build

.cdk.staging
cdk.out

!jest.config.js
node_modules

logs
*.log
npm-debug.log*
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.test
.dynamodb/

# Intellij project files
*.iml
*.ipr
*.iws
*.idea/


